* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main {
    width: 100vw;
    height: 100vh;
    background-image: url('../assets/images/joy-weathered-web.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #333;

}