@tailwind base;
@tailwind components;
@tailwind utilities;

.projects_ul li > div {
  opacity: 0;
  /* transform: translateY(16px); */
}

@theme inline {
  --font-archivo_black: var(--font-archivo_black);
}

h1 {
  font-size: clamp(2rem, 5vw, 3rem);
  line-height: 0.95;
}
